doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", type="text/css", href="css/style.css")
body

  script(src="js/scripts.js")
  script(type="application/javascript", src="http://localhost:3000")