doctype html

html
  head
    link(rel="stylesheet", href="css/style.css")

  body
  
    header.cd-main-header
      a(href="#0").cd-logo
        img(src="assets/img/logo.svg", alt="Logo")

      .cd-search
        form(id="", action="#0")
          input(type="text", name="search", placeholder="Search")
      //- end .cd-search

      a(href="#0").cd-nav-trigger Menu
        span

      nav.cd-nav
        ul.cd-top-nav
          li
            a(href="#0") Tour
          li
            a(href="#0") Support
          li.has-child.account
            a(href="") 
              img(src="assets/img/account.png", alt="")
              | Account

            ul
              li
                a(href="") My account
      //- end nav
    //- end header

    main.cd-main-content
      nav.cd-side-nav
        ul
          li.cd-label Main
          li.overview.has-child
            a(href="") Overview
            ul
              li
                a(href="") All data
              li
                a(href="") Realtime
              li
                a(href="") Trending
          li.active.has-child.notifications
            a(href="") 
              | Notifications
              span.count 3
            ul
              li
                a All notifications
              li
                a Messages
          li.has-child
            a(href="") 
              | Bookmarks
            ul
              li
                a All
              li
                a Comments
              li
                a Other
      //- end side-nav

      .content-wrapper
    //- end main

    script(type="application/javascript", src="js/scripts.js")
    script(type="application/javascript", src="http://localhost:3000")
  //- end body 

