doctype html

html
  head
    link(rel="stylesheet", href="css/style.css")
    script(type="application/javascript", src="js/scripts.js")
    script(type="application/javascript", src="http://localhost:3000")

  body
    
    p This is paragraphs
    p This is paragraphs
    p This is paragraphs
